:root{

--htw-blue:#0044FD;
--htw-blue-hover:#2A63FF;
--htw-blue-active:#0036C7;

--airdrop-green:#00FA9E;
--airdrop-green-hover:#00E48F;

--black:#1D1D1D;
--grey-dark:#535353;
--grey:#707070;
--grey-light:#AAAAAA;

--background:#F5F5F5;

--space-1:8px;
--space-2:16px;
--space-3:24px;
--space-4:32px;
--space-5:64px;

--font-display:"DisplayFont",sans-serif;
--font-body:"BodyFont",Helvetica,Arial,sans-serif;
--font-mono:"MonoFont",monospace;

}
